*{
    font-family: 'Poppins', sans-serif;
}
header{
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    font-size: 16px;
    font-weight: 700;
}
main{
    display: flex;
}
ul{
    display:flex;
    list-style-type: none;
}

li{
    margin: 5px 20px;
}
span{
    color:#5955b3;
}
button{
    color:#fff;
    background-color: #5955b3;
    border: none;
    font-size: 15px;
    border-radius: 12px;
    padding: 12px;
}
.contact_btn{
    position: absolute;
    right:40px;
    top:50px;
}

.services_btn{
    margin:30px 50px;
}

.img_head{
    height:560px;
    position: absolute;
    right:30px;
}
.heading{
    margin: 100px 0 10px 50px;
    
    font-size: 60px;
    font-weight: 600;
}
.sub_heading{
    margin-left: 50px;
    font-size: 16px;
    font-weight: 400;
    color: #828282;
}